<div *ngIf="localizedProfile">
    <div class="container"><img class="content" *ngIf="profileData.profilePicture"
            [src]="getProfilePictureUrl(profileData.profilePicture.displayImage)" alt="Profile Picture">
        <h1 class="content full-name">{{ profileData.firstName.localized[language] }} {{
            profileData.lastName.localized[language] }}</h1>
    </div>
    <p class="content">{{ profileData.headline.localized[language] }}</p>
    <article class="content" style="display: flex;">
        <p style="flex: 2;">{{ profileData.about.localized[language] }}</p>
        <!-- <img style="flex: 1;" src="src/app/assets/skills_painting.jpg" alt=""> -->
    </article>

</div>