/* You can add global styles to this file, and also import other style files */
@import "colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  --app-height: 100vh;
  --vh: calc(var(--app-height) / 100);
  --z-top: 199;
  scroll-behavior: smooth;
  background-color: $background-color;
  color: $primary-color;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

app-root {
  position: relative;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.section {
  position: relative;
  height: fit-content;
  background-color: $smoky-black-semisoft;
  margin: 70px 50px 20px 50px;
}