<div class="contact">
    <h2>Contact Me:</h2>
    <div *ngFor="let contactObj of contactsData" class="contact-list">
      <div *ngIf="contactObj">
      <a [href]="contactObj?.link" target="_blank">
        <div class="contact-item">
          <div class="icon-label">
            <i class={{contactObj?.icon}}></i>
            <span class="label"> {{contactObj?.label}}</span>
          </div>
          <span class="value">{{contactObj?.contactValue}}</span>
        </div>
      </a>
      <br>
    </div>
    </div>
  </div>