<div class="contact">
    <h2>Contact Me:</h2>
    <div class="contact-list">
      <a href="mailto:hightemplar88@gmail.com" target="_blank">
        <div class="contact-item">
          <div class="icon-label">
            <i class="fas fa-envelope"></i>
            <span class="label"> Email</span>
          </div>
          <span class="value">hightemplar88&#64;gmail.com</span>
        </div>
      </a>
  
      <a href="https://t.me/tamed_analyst" target="_blank">
        <div class="contact-item">
          <div class="icon-label">
            <i class="fa-brands fa-telegram"></i>
            <span class="label"> Telegram</span>
          </div>
          <span class="value">&#64;tamed_analyst</span>
        </div>
      </a>
  
      <a
        href="https://www.linkedin.com/in/undefined-errors-handler/"
        target="_blank"
      >
        <div class="contact-item">
          <div class="icon-label">
            <i class="fa-brands fa-linkedin"></i>
            <span class="label"> Linkedin</span>
          </div>
          <span class="value">Sergio Brü</span>
        </div>
      </a>
    </div>
  </div>