@import "colors";
@import "responsive";

.about {
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .bio-and-image {
    height: calc(50 * var(--vh));
    width: 100%;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    h2 {
      color: $secondary-color;
      padding-bottom: 1em;
    }

    p {
      margin-bottom: 0.3em;
    }

    .bio {
      width: 80%;
      text-align: center;
      padding-bottom: 2em;
      font-size: 1.1em;

      @include media-md {
        font-size: 1.3em;
      }

      @include media-lg {
        font-size: 1.5em;
      }

      .text-secondary {
        padding-bottom: 1em;
      }


    }
  }

  .jobs-list {
    width: 80%;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;

    @include media-md {
      font-size: 1.2em;
    }

    @include media-lg {
      font-size: 1.4em;
    }

    .job-item {
      background: lighten($background-color, 10%);
      padding: 0.5em;
      border-bottom: 5px solid $secondary-color;

      h2 {
        color: $secondary-color;
      }

      h2,
      h3 {
        margin: 0.5em 0;
      }

      h4 {
        font-size: 0.9em;
        margin: 0.3em 0;
      }

      ul {
        margin-left: 1em;
        margin-top: 0.5em;

        li {
          margin-bottom: 0.3em;
          text-align: justify;
        }
      }
    }
  }
}

 hr {
  margin-bottom: 0.5em;
 }
.language-selector {
  z-index: var(--z-top);
  position: fixed;
  display: flex;
  flex-direction: column;
  background: lighten($background-color, 10%);
  top: 70%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 10px;
  

  .selector-item {
    cursor: pointer;
    font-weight: normal;
    color: inherit;

    &.active {
      font-weight: bold;
      color: $secondary-color;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}


.selector-item {
  margin-bottom: 10px;
  cursor: pointer;
}