<app-matrix-code></app-matrix-code>
<header>
  <app-navbar></app-navbar>
</header>

<!-- <nav class="navbar" id="nav-root"> -->
<!-- <div class="nav-short-about-fixed">
    <div>"Sergio Brü"</div>
    <div class="truncate">"Middle+ Java software developer | PL SQL developer"</div>
  </div> -->

<!-- <div class="box language-selector">
    <span (click)="setLanguage('en_US')">English</span> |
    <span (click)="setLanguage('de_DE')">Deutsch</span> 
    @if (showRussian) {<span (click)="setLanguage('ru_RU')">| Русский</span>}
  </div>

  
  <a href="#section3">Experience</a>
  <a href="#section4">Education</a>
  <a routerLink="/cv" active>Resume</a>
  <a href="/flow-section" >test</a>

</nav> -->
<main>
  
  
  <router-outlet></router-outlet>
  <app-scroll-to-top></app-scroll-to-top>
</main>

<footer>
  <div *ngFor="let contactObj of contactsData" class="social-icons">
    <a [href]="instagramRef" target="_blank">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a [href]="githubRef" target="_blank">
      <i class="fab fa-github fa-2x"></i>
    </a>
    
    <a [href]="contactObj?.link" target="_blank">
      <i class="fa-brands fa-linkedin fa-2x"></i>
    </a>

  </div>
  <div class="copyright">
    <span>&copy; Copyright 2024</span>
  </div>
</footer>