<app-matrix-code></app-matrix-code>

<div class="section" id="section1">
  <header>
    <h2>Sergio Brü</h2>
    <p id="position">Middle+ Java software developer | PL SQL developer</p>
  </header>

</div>
<div class="section" id="section2">
  <app-profile language={{currentLanguage}}></app-profile>
</div>
<div class="section" id="section3">

</div>
@defer (on viewport) {
<div class="section" id="section4">
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
</div>
} @placeholder {
<p>Future comments</p>
} @loading (minimum 2s) {
<p>Loading next...</p>
}
<nav>
  <div class="language-selector">
    <span (click)="setLanguage('en_US')">English</span> |
    <span (click)="setLanguage('de_DE')">Deutsch</span> |
    <span (click)="setLanguage('ru_RU')">Русский</span>
  </div>

  <a href="#section2">About</a>
  <a href="#section3">Experience</a>
  <a href="#section4">Education</a>
</nav>


<app-scroll-to-top></app-scroll-to-top>
<router-outlet></router-outlet>